
		Body {
			background-color: #b8f2fc;
			color:black;
			font-family: 'Roboto Slab', serif;
			
		}
			
		.First{
			padding: 10px 10px 10px 10px;
			background-color: #0055bd;
			color: white;
			border: solid white;
		}
		#first {
			color: white;
		}
		.Second{
			padding: 10px 10px 10px 10px;
			background-color: #147eff;
			color: white;
			border: solid #b3d4ff;
		}
		#second {color: white ;
		}
		.Third{
			padding: 10px 10px 10px 10px;
			background-color: #6baeff;
			color: white;
			border: solid #0063e3;
		}
		#third {color: white ;
		}
		.Fourth{
			padding: 10px 10px 10px 10px;
			background-color: #add2ff;
			color: #002757;
			border: solid #002757;
		}
		#fourth {color: #002757 ;
		}
		.start {border: thick double #00224d;
			
		}
